In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Setting agar grafik terlihat lebih bagus
sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (15, 8) # Membuat ukuran default grafik lebih besar

In [2]:
# Load dataset 
df = pd.read_csv('../data/synthetic_transactions.csv', parse_dates=['tanggal'])

In [3]:
# Cek 5 baris pertama
print("5 baris pertama dari dataset:")
display(df.head())

5 baris pertama dari dataset:

         user_id    tanggal              keterangan         tipe     jumlah
0  andi_designer 2024-07-26        Kebutuhan Harian  Pengeluaran   -40447.0
1  andi_designer 2024-07-27        Kebutuhan Harian  Pengeluaran  -155725.0
2  andi_designer 2024-07-28        Kebutuhan Harian  Pengeluaran  -185734.0
3  andi_designer 2024-07-29  Pemasukan Proyek Utama    Pemasukan  3624170.0
4  andi_designer 2024-07-29        Kebutuhan Harian  Pengeluaran   -42106.0

In [4]:
# Cek informasi dasar (tipe data, jumlah baris, dll)
print("\nInformasi Dataset:")
df.info()

Informasi Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1730 entries, 0 to 1729
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     1730 non-null   object
 1   tanggal     1730 non-null   datetime64[ns]
 2   keterangan  1730 non-null   object
 3   tipe        1730 non-null   object
 4   jumlah      1730 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 67.7+ KB